:root {
  --color-background:white;
  --color-background-footer: rgb(34, 34, 32);
  --color-background-nav:white;
  --color-primary: #eb2f64;
  --color-primary-light: #222222;
  --color-primary-dark: #000000;
  --color-text-white: #ffffff;
  --color-grey-light-1: #8A8A88;
  --color-grey-dark-1: #454545;
  --color-grey-border: #2b2b28;
  --padding-bot-txt: 2rem;
  --padding-bot-h3: 4rem;
  --padding-container-top: 7rem;
  --padding-container-bot: 7rem;
  --menu-border-valid: #55c57a;
  --menu-border-invalid: #eb2f64; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.space {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh; }

.grid-container {
  display: grid;
  grid-template-columns: [marginLeft-start] 1fr [marginLeft-end content-start] minmax(min-content, 2fr) [content-end marginRight-start] 1fr [marginRight-end];
  grid-template-rows: [header-start] 90vh [header-end nav-start] min-content [nav-end homeIMG-start] 100vh [homeIMG-end homeTXT-start] min-content [homeTXT-end aboutUsIMG-start] 100vh [aboutUsIMG-end aboutUsTXT-start] min-content [aboutUsTXT-end contactUsIMG-start] 100vh [contactUsIMG-end contactUsTXT-start] min-content [contactUsTXT-end footer-start] min-content [footer-end]; }

.heading {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: header-start / header-end; }
  .heading__title {
    display: grid;
    grid-template-columns: [marginLeft__Title-start] 1fr [marginLeft__Title-end content__Title-start] minmax(min-content, 2fr) [content__Title-end marginRight__Title-start] 1fr [marginRight__Title-end];
    grid-template-rows: [h1-start] min-content [h1-end h2-start] min-content [h2-end];
    position: relative;
    height: 100%;
    align-content: end;
    grid-row-gap: 1.5rem; }

.form {
  display: grid;
  grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end];
  grid-template-rows: [name-start] min-content [name-end email-start] min-content [email-end dropdown-start] min-content [dropdown-end messageTXT-start] min-content [messageTXT-end messageBox-start] min-content [messageBox-end button-start] min-content [button-end];
  grid-row-gap: 3rem; }

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem; }

.nav-bg {
  grid-row: nav-start / nav-end;
  grid-column: marginLeft-start / marginRight-end; }

.nav {
  grid-row: nav-start / nav-end;
  grid-column: content-start / content-start; }

.fixed-img {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.text-bg {
  background-color: var(--color-background); }

.padding-botTXT {
  padding-bottom: var(--padding-bot-txt); }

.padding-bot-h3 {
  padding-bottom: var(--padding-bot-h3); }

.padding-container-top {
  padding-top: var(--padding-container-top); }

.padding-container-bot {
  padding-bottom: var(--padding-container-bot); }

/*.header {
    display: grid;
                            //start name                        //end name  /  start 
    grid-template-columns:  [marginLeft-start]  2vw             [marginLeft-end geoLocation-start]
                                                min-content     [geoLocation-end leftBuffer-start]
                                                1fr             [leftBuffer-end titleContent-start]
                                                min-content     [titleContent-end rightBuffer-start]
                                                3fr             [rightBuffer-end socialMedia-start]
                                                min-content     [socialMedia-end marginRight-start]
                                                2vw             [marginRight-end]; 
                                //start name                        //end name  /  start  
    grid-template-rows:     [marginTop-start]   2vh             [marginTop-end mainTop-start]
                                                98vh            [mainTop-end];  
    @include respond(phone) {
        grid-template-rows:     [marginTop-start]   6rem             [marginTop-end mainTop-start]
                                                    calc(100vh - 6rem)         [mainTop-end];  
    }  
    @include respond(uw-big-desktop-wdith) {
        grid-template-rows:     [marginTop-start]   5vh             [marginTop-end mainTop-start]
                                                    95vh            [mainTop-end];  
    }
    //background-image: linear-gradient(to right bottom, var(--color-primary-light), var( --color-primary-dark));
    background-image: radial-gradient(circle at top left, var(--color-primary-light), var( --color-primary-dark) 80%);
    position: relative;
    z-index: -2;

}
*/
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px; }

#header-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: header-start / header-end;
  background-image: url(../img/avramehouse-header-1.jpg); }

.heading__title--bg {
  grid-row: h1-start / h2-end;
  grid-column: marginLeft__Title-start / marginRight__Title-end;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)); }

.heading__title--h1 {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  grid-row: h1-start / h1-end;
  grid-column: content__Title-start / content__Title-end;
  font-size: 5rem;
  color: white;
  position: relative;
  padding-top: 12vh; }

.heading__title--h2 {
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  grid-row: h2-start / h2-end;
  grid-column: content__Title-start / content__Title-end;
  font-size: 2.8rem;
  color: white;
  position: relative;
  padding-bottom: 5rem; }

.fixed-nav {
  position: fixed; }

.nav-bg {
  background-color: var(--color-background-nav);
  width: 100%;
  height: auto;
  position: sticky;
  top: 0px;
  z-index: 1; }

.nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 2; }
  .nav__ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .nav__li {
    flex-grow: 1;
    text-align: center; }
  .nav__a {
    height: 100%;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black; }
    .nav__a:link, .nav__a:visited {
      display: inline-block;
      padding: 1rem 2rem;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, black 50%);
      background-size: 230%;
      transition: all .4s; }
    .nav__a:hover, .nav__a:active {
      background-position: 100%;
      color: white;
      transform: translateX(1rem); }

.asdasda__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.asdasda__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.asdasda__item {
  margin: 1rem; }

.asdasda__link:link, .asdasda__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 220%;
  transition: all .4s; }
  .asdasda__link:link span, .asdasda__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.asdasda__link:hover, .asdasda__link:active {
  background-position: 100%;
  transform: translateX(1rem); }

.fixed-img-1 {
  height: 100vh;
  background-image: url(../img/avramehouse-header-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.fixed-img-2 {
  height: 100vh;
  background-image: url(../img/avramehouse-header-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.fixed-img-3 {
  height: 100vh;
  background-image: url(../img/avramehouse-header-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/*
.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }


    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }


    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-input {
        display: none;
    }
    
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
*/
#homeIMG-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: homeIMG-start / homeIMG-end;
  background-image: url(../img/avramehouse-header-2.jpg); }

#homeTXT-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: homeTXT-start / homeTXT-end; }

.home {
  grid-column: content-start / content-end;
  grid-row: homeTXT-start / homeTXT-end; }

#aboutUsIMG-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: aboutUsIMG-start / aboutUsIMG-end;
  background-image: url(../img/sampleIMG-1.jpg); }

#aboutUsTXT-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: aboutUsTXT-start / aboutUsTXT-end; }

.aboutUs {
  grid-column: content-start / content-end;
  grid-row: aboutUsTXT-start / aboutUsTXT-end; }

#contactUsIMG-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: contactUsIMG-start / contactUsIMG-end;
  background-image: url(../img/sakura-3.jpg); }

#contactUsTXT-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: contactUsTXT-start / contactUsTXT-end; }

#form-email {
  grid-column: col1-start / col2-end;
  grid-row: email-start / email-end; }

#message-txt {
  grid-column: col1-start / col2-end;
  grid-row: messageTXT-start / messageTXT-end; }

#message-box {
  grid-column: col1-start / col2-end;
  grid-row: messageBox-start / messageBox-end; }

#submit-button {
  grid-column: col1-start / col2-end;
  grid-row: button-start / button-end; }

.contactUs {
  grid-column: content-start / content-end;
  grid-row: contactUsTXT-start / contactUsTXT-end; }

.form__name {
  grid-column: col1-start / col2-end;
  grid-row: name-start / name-end; }

.form__email {
  grid-column: col1-start / col2-end;
  grid-row: email-start / email-end; }

.form__text {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  align-self: center; }

.form__input {
  padding: 1.5rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  color: white; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid var(--menu-border-valid);
    color: white; }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--menu-border-invalid); }

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-top: 1.5rem;
  display: block;
  transform: translateY(4rem);
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-0.1rem); }

#footer-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: footer-start / footer-end;
  background-color: var(--color-background-footer); }

#map {
  min-height: 40rem;
  width: 100%;
  height: 100%; }

.footer {
  padding: 5rem 0;
  grid-column: content-start / content-end;
  grid-row: footer-start / footer-end;
  color: white; }
  .footer__textBox {
    align-self: center; }
  .footer__socialMedia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-row-gap: 2rem;
    padding-top: 5rem; }
    .footer__socialMedia--icon {
      width: 3.5rem;
      height: 3.5rem;
      fill: var(--color-grey-light-1);
      transition: all 0.2s; }
    .footer__socialMedia--icon:hover {
      fill: var(--color-text-white);
      cursor: pointer; }
