:root {
  --color-background:white;
  --color-background-footer:#2b2b28;
  --color-background-nav:white;
  --font-family-main-text: 'Roboto', sans-serif;
  --font-family-main-h3: 'Comfortaa', cursive;
  --font-family-main-h2: 'Comfortaa', cursive;
  --font-family-main-h1: 'Pacifico', cursive;
  --font-family-main-a: 'Comfortaa', cursive;
  --font-family-main-nav: 'Comfortaa', cursive;
  --color-primary: #eb2f64;
  --color-primary-light: #222222;
  --color-primary-dark: #000000;
  --color-text-white: #ffffff;
  --color-grey-light-1: #8A8A88;
  --color-grey-dark-1: #454545;
  --color-grey-border: #2b2b28;
  --icon-fill: #000000;
  --icon-fill-hover: #55c57a;
  --padding-bot-txt: 5rem;
  --padding-bot-h3: 4rem;
  --padding-container-top: 7rem;
  --padding-container-bot: 7rem;
  --padding-bot-h3--footer: .5rem;
  --padding-bot-h4: 1.5rem;
  --padding-right-icon: 2rem;
  --menu-border-valid: #55c57a;
  --menu-border-invalid: #eb2f64;
  --background-img-header: url(../img/img-2k/cover-2k.jpg);
  --background-img-whatWeDo: url(../img/img-2k/what-we-do-1.jpg);
  --background-img-aboutUs: url(../img/img-2k/about-us.jpg);
  --background-img-gallery: url(../img/img-2k/menu.jpg);
  --background-img-testimonials: url(../img/img-2k/testimonials.jpg);
  --background-img-findUs: url(../img/img-2k/find-us.jpg);
  --background-img-contactUs: url(../img/img-2k/contact-us.jpg);
  --veil-header: rgba(0, 0, 0, 0.4);
  --veil: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.5) 100%);
  --gallery-img-size: 35rem;
  --gallery-img-1: url(../img/img-2k/item-1.jpg);
  --gallery-img-2: url(../img/img-2k/item-2.jpg);
  --gallery-img-3: url(../img/img-2k/item-3.jpg);
  --gallery-img-4: url(../img/img-2k/item-4.jpg);
  --gallery-img-5: url(../img/img-2k/item-5.jpg);
  --gallery-img-6: url(../img/img-2k/item-6.jpg);
  --gallery-img-7: url(../img/img-2k/item-7.jpg);
  --gallery-img-8: url(../img/img-2k/item-8.jpg);
  --icon-color-default: #8A8A88;
  --icon-color-hover: #ffffff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*@include respond(phone) {
        font-size: 45%; 
    }
    @include respond(uw-big-desktop) {
        font-size: 87.5%; // 1rem = 14px
    }
    @include respond(big-desktop-4k) {
        font-size: 100%; //1rem = 16px
    }*/ }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    html {
      font-size: 35%; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    html {
      font-size: 50%; } }

@media only screen and (min-width: 1em) and (max-width: 20em) {
  .test-bloc {
    background-color: #55c57a;
    width: 320px;
    height: 320px; } }

@media only screen and (min-width: 20.01em) and (max-width: 40em) {
  .test-bloc {
    height: 220px;
    width: 220px;
    background-color: #eb2f64; } }

@media only screen and (min-width: 40.01em) and (max-width: 80em) {
  .test-bloc {
    background-image: url(../img/cover-320p-test.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: auto;
    position: relative; } }

.grid-container {
  display: grid;
  grid-template-columns: [marginLeft-start] 1fr [marginLeft-end content-start] minmax(min-content, 2fr) [content-end marginRight-start] 1fr [marginRight-end];
  grid-template-rows: [header-start] 90vh [header-end nav-start] min-content [nav-end whatWeDoIMG-start] 100vh [whatWeDoIMG-end whatWeDoTXT-start] min-content [whatWeDoTXT-end aboutUsIMG-start] 100vh [aboutUsIMG-end aboutUsTXT-start] min-content [aboutUsTXT-end galleryIMG-start] 100vh [galleryIMG-end galleryTXT-start] min-content [galleryTXT-end testimonialsIMG-start] 100vh [testimonialsIMG-end testimonialsTXT-start] min-content [testimonialsTXT-end findUsIMG-start] 100vh [findUsIMG-end findUsTXT-start] min-content [findUsTXT-end contactUsIMG-start] 100vh [contactUsIMG-end contactUsTXT-start] min-content [contactUsTXT-end footer-start] min-content [footer-end]; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    .grid-container {
      grid-template-rows: [header-start] 90vh [header-end nav-start] min-content [nav-end whatWeDoIMG-start] 65vh [whatWeDoIMG-end whatWeDoTXT-start] min-content [whatWeDoTXT-end aboutUsIMG-start] 65vh [aboutUsIMG-end aboutUsTXT-start] min-content [aboutUsTXT-end galleryIMG-start] 65vh [galleryIMG-end galleryTXT-start] min-content [galleryTXT-end testimonialsIMG-start] 65vh [testimonialsIMG-end testimonialsTXT-start] min-content [testimonialsTXT-end findUsIMG-start] 65vh [findUsIMG-end findUsTXT-start] min-content [findUsTXT-end contactUsIMG-start] 65vh [contactUsIMG-end contactUsTXT-start] min-content [contactUsTXT-end footer-start] min-content [footer-end]; } }

.heading {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: header-start / header-end; }
  .heading__title {
    display: grid;
    grid-template-columns: [marginLeft__Title-start] 1fr [marginLeft__Title-end content__Title-start] minmax(min-content, 2fr) [content__Title-end marginRight__Title-start] 1fr [marginRight__Title-end];
    grid-template-rows: [h1-start] min-content [h1-end h2-start] min-content [h2-end];
    position: relative;
    height: 100%;
    align-content: center;
    text-align: center;
    grid-row-gap: 1.5rem; }

.form {
  display: grid;
  grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end];
  grid-template-rows: [name-start] min-content [name-end email-start] min-content [email-end dropdown-start] min-content [dropdown-end messageTXT-start] min-content [messageTXT-end messageBox-start] min-content [messageBox-end button-start] min-content [button-end];
  grid-row-gap: 3rem; }

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem; }

.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--gallery-img-size), 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem; }

.nav-bg {
  grid-row: nav-start / nav-end;
  grid-column: marginLeft-start / marginRight-end; }

.nav {
  grid-row: nav-start / nav-end;
  grid-column: content-start / content-start; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    .nav {
      grid-column: marginLeft-start / marginRight-end; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .nav {
      grid-column: marginLeft-start / marginRight-end; } }

.fixed-img {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.veil {
  background-image: var(--veil);
  position: relative; }
  .veil-header {
    background-color: var(--veil-header);
    position: relative; }
    @media only screen and (min-width: 1em) and (max-width: 21.875em) {
      .veil-header {
        --veil-header: rgba(0, 0, 0, 0.65); } }
    @media only screen and (min-width: 21.9em) and (max-width: 25em) {
      .veil-header {
        --veil-header: rgba(0, 0, 0, 0.65); } }

.text-bg {
  background-color: var(--color-background); }

.padding-botTXT {
  padding-bottom: var(--padding-bot-txt); }

.padding-bot-h3 {
  padding-bottom: var(--padding-bot-h3); }

.padding-bot-h4 {
  padding-bottom: var(--padding-bot-h4); }

.padding-bot-p {
  padding-bottom: 1rem; }

.padding-bot-h3--footer {
  padding-bottom: var(--padding-bot-h3--footer); }

.padding-container-top {
  padding-top: var(--padding-container-top); }

.padding-container-bot {
  padding-bottom: var(--padding-container-bot); }

.padding-right-icon {
  padding-right: var(--padding-right-icon); }

.align-text-center {
  text-align: center; }

.text-light {
  color: white; }

.border-bottom {
  margin-bottom: 5rem; }
  .border-bottom:after {
    display: block;
    height: 0.3rem;
    background-color: white;
    content: "";
    width: 15rem;
    margin: 0 auto;
    margin-top: 3rem; }

.border-bottom-dark {
  margin-bottom: 5rem; }
  .border-bottom-dark:after {
    display: block;
    height: 0.3rem;
    background-color: black;
    content: "";
    width: 15rem;
    margin: 0 auto;
    margin-top: 3rem; }

.border-bottom-dark {
  margin-bottom: 0; }
  .border-bottom-dark:after {
    display: block;
    height: 0.3rem;
    background-color: black;
    content: "";
    width: 15rem;
    margin: 0 auto;
    margin-top: 3rem; }

.margin-bottom-large {
  margin-bottom: 3rem; }

h1 {
  font-family: var(--font-family-main-h1);
  font-size: 10rem;
  font-weight: 400;
  color: white;
  letter-spacing: 2px; }

h2 {
  font-family: var(--font-family-main-h2);
  font-weight: 300;
  font-size: 3.6rem;
  color: white; }

h3 {
  font-family: var(--font-family-main-h3);
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    h3 {
      font-size: 4rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    h3 {
      font-size: 3.8rem; } }

h4 {
  font-family: var(--font-family-main-h3);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    h4 {
      font-size: 3rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    h4 {
      font-size: 3rem; } }

p {
  font-family: var(--font-family-main-text);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    p {
      font-size: 3rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    p {
      font-size: 2.5rem; } }

blockquote {
  font-family: var(--font-family-main-text);
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    blockquote {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    blockquote {
      font-size: 2.5rem; } }

blockquote cite {
  font-family: var(--font-family-main-text);
  font-size: 1.6rem;
  letter-spacing: 1px; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    blockquote cite {
      font-size: 2.8rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    blockquote cite {
      font-size: 2rem; } }

figcaption h3 {
  font-size: 2.2rem; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    figcaption h3 {
      font-size: 3.1rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    figcaption h3 {
      font-size: 2.5rem; } }

figcaption p {
  font-size: 1.6rem;
  font-weight: 300; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    figcaption p {
      font-size: 2.5rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    figcaption p {
      font-size: 2rem; } }

figcaption span {
  font-size: 2rem;
  font-weight: 600; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    figcaption span {
      font-size: 3rem; } }

#header-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: header-start / header-end;
  background-image: var(--background-img-header); }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    #header-bg {
      --background-img-header: url(../img/img-phone-2x/cover.jpg); } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    #header-bg {
      --background-img-header: url(../img/img-phone-2x/cover.jpg); } }

#header__veil {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: header-start / header-end; }

.heading__title--bg {
  grid-row: h1-start / h2-end;
  grid-column: marginLeft__Title-start / marginRight__Title-end; }

.heading__title--h1 {
  grid-row: h1-start / h1-end;
  grid-column: content__Title-start / content__Title-end;
  position: relative; }

.heading__title--h2 {
  grid-row: h2-start / h2-end;
  grid-column: content__Title-start / content__Title-end;
  position: relative; }

.fixed-nav {
  position: fixed; }

.nav-bg {
  background-color: var(--color-background-nav);
  width: 100%;
  height: auto;
  position: sticky;
  top: 0px;
  z-index: 2; }

.nav {
  padding: 2rem 0;
  position: sticky;
  top: 0;
  z-index: 2; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    .nav {
      padding: 0.5rem 0; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .nav {
      padding: 0.5rem 0; } }
  .nav__ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .nav__li {
    flex-grow: 1;
    text-align: center; }
  .nav__a {
    height: 100%;
    font-family: var(--font-family-main-nav);
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black; }
    @media only screen and (min-width: 1em) and (max-width: 21.875em) {
      .nav__a {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 21.9em) and (max-width: 25em) {
      .nav__a {
        font-size: 1.4rem; } }
    .nav__a:link, .nav__a:visited {
      display: inline-block;
      padding: 1rem 2rem;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, black 50%);
      background-size: 230%;
      transition: all .4s; }
    .nav__a:hover, .nav__a:active {
      background-position: 100%;
      color: white;
      transform: translateX(1rem); }

.fixed-img-1 {
  height: 100vh;
  background-image: url(../img/avramehouse-header-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.fixed-img-2 {
  height: 100vh;
  background-image: url(../img/avramehouse-header-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.fixed-img-3 {
  height: 100vh;
  background-image: url(../img/avramehouse-header-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/*
.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }


    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }


    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-input {
        display: none;
    }
    
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
*/
#whatWeDoIMG-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: whatWeDoIMG-start / whatWeDoIMG-end;
  background-image: var(--background-img-whatWeDo); }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    #whatWeDoIMG-bg {
      --background-img-whatWeDo: url(../img/img-phone-2x/what-we-do-1.jpg); } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    #whatWeDoIMG-bg {
      --background-img-whatWeDo: url(../img/img-phone-2x/what-we-do-1.jpg); } }

#whatWeDoVeil {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: whatWeDoIMG-start / whatWeDoIMG-end; }

#whatWeDo-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: whatWeDoTXT-start / whatWeDoTXT-end; }

.whatWeDo {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: whatWeDoTXT-start / whatWeDoTXT-end;
  text-align: center; }
  .whatWeDo__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    grid-row-gap: 6rem;
    padding-right: 1rem; }
    @media only screen and (min-width: 21.9em) and (max-width: 25em) {
      .whatWeDo__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
    .whatWeDo__wrapper--unit {
      display: grid;
      grid-template-columns: [icon-start] 1fr [icon-end text-start] 1fr [text-end]; }
      @media only screen and (min-width: 1em) and (max-width: 21.875em) {
        .whatWeDo__wrapper--unit {
          grid-template-columns: [icon-start] 1fr [icon-end text-start] 2fr [text-end]; } }
      @media only screen and (min-width: 21.9em) and (max-width: 25em) {
        .whatWeDo__wrapper--unit {
          grid-template-columns: [icon-start] 1fr [icon-end text-start] 2fr [text-end]; } }
      .whatWeDo__wrapper--unit:hover .whatWeDo__icon {
        fill: var(--icon-fill-hover); }
  .whatWeDo__icon {
    width: 9rem;
    height: 9rem;
    grid-column: icon-start / icon-end;
    align-self: center;
    justify-self: center;
    fill: var(--icon-fill);
    transition: all 0.3s; }
  .whatWeDo__textBlock {
    grid-column: text-start / text-end;
    text-align: left; }

#aboutUsIMG-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: aboutUsIMG-start / aboutUsIMG-end;
  background-image: var(--background-img-aboutUs); }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    #aboutUsIMG-bg {
      --background-img-aboutUs: url(../img/img-phone-2x/about-us.jpg); } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    #aboutUsIMG-bg {
      --background-img-aboutUs: url(../img/img-phone-2x/about-us.jpg); } }

#aboutUsVeil {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: aboutUsIMG-start / aboutUsIMG-end; }

#aboutUsTXT-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: aboutUsTXT-start / aboutUsTXT-end; }

.aboutUs {
  grid-column: content-start / content-end;
  grid-row: aboutUsTXT-start / aboutUsTXT-end; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    .aboutUs {
      grid-column: marginLeft-start / marginRight-end;
      padding: 0 2rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .aboutUs {
      grid-column: marginLeft-start / marginRight-end;
      padding: 0 1rem; } }

#galleryIMG-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: galleryIMG-start / galleryIMG-end;
  background-image: var(--background-img-gallery); }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    #galleryIMG-bg {
      --background-img-gallery: url(../img/img-phone-2x/menu.jpg); } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    #galleryIMG-bg {
      --background-img-gallery: url(../img/img-phone-2x/menu.jpg); } }

#galleryVeil {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: galleryIMG-start / galleryIMG-end; }

#galleryTXT-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: galleryTXT-start / galleryTXT-end; }

#galleryIMG-1 {
  background-image: var(--gallery-img-1); }

#galleryIMG-2 {
  background-image: var(--gallery-img-2); }

#galleryIMG-3 {
  background-image: var(--gallery-img-3); }

#galleryIMG-4 {
  background-image: var(--gallery-img-4); }

#galleryIMG-5 {
  background-image: var(--gallery-img-5); }

#galleryIMG-6 {
  background-image: var(--gallery-img-6); }

#galleryIMG-7 {
  background-image: var(--gallery-img-7); }

#galleryIMG-8 {
  background-image: var(--gallery-img-8); }

.gallery {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: galleryTXT-start / galleryTXT-end;
  justify-content: center; }
  .gallery__wrapper {
    height: auto;
    overflow-x: hidden;
    overflow-y: visible;
    padding-top: 5rem; }
  .gallery__unit {
    height: var(--gallery-img-size);
    position: relative; }
    .gallery__unit--image {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      -webkit-transform: translateZ(0);
      transform: perspective(1000px) translate3d(0, 0, 0);
      transition: all 0.35s;
      backface-visibility: hidden; }
    .gallery__unit--figcaption {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: calc(100% - 1rem); }
      .gallery__unit--figcaption-h3 {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: 1rem;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        font-family: 'Comfortaa', cursive;
        text-transform: none;
        border-radius: 0.3rem;
        transition: all 0.7s ease-in; }
      .gallery__unit--figcaption-p {
        position: absolute;
        bottom: 1rem;
        width: calc(100% - 4rem);
        -webkit-transform: translateZ(0);
        transform: translate3d(25rem, 7.5rem, 0);
        /* just because it's stronger than nth-child */
        z-index: 1;
        border-radius: 0.3rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        text-transform: none;
        line-height: 2;
        padding: 1rem;
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s ease-in-out; }
    .gallery__unit:hover .gallery__unit--figcaption-h3 {
      box-shadow: none;
      opacity: 0;
      transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1); }
    .gallery__unit:hover .gallery__unit--figcaption-p {
      -webkit-transform: translateZ(0);
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      opacity: 1; }
    .gallery__unit:hover .gallery__unit--image {
      filter: drop-shadow(0 0.3rem 2rem rgba(0, 0, 0, 0.9));
      transform: perspective(1000px) translate3d(0, 0, 21px); }
  .gallery__unit-ef2 {
    height: var(--gallery-img-size);
    position: relative;
    backface-visibility: hidden; }
    .gallery__unit-ef2--image {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      -webkit-transform: translateZ(0);
      transform: perspective(1000px) translate3d(0, 0, 0);
      transition: all 0.35s;
      backface-visibility: hidden; }
    .gallery__unit-ef2--figcaption {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: calc(100% - 1rem); }
      .gallery__unit-ef2--figcaption-h3 {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: 1rem;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
        color: black;
        background-color: rgba(255, 255, 255, 0.6);
        font-family: 'Comfortaa', cursive;
        text-transform: none;
        border-radius: 0.3rem;
        transition: all 0.35s; }
      .gallery__unit-ef2--figcaption-p {
        position: absolute;
        bottom: 1rem;
        width: calc(100% - 4rem);
        -webkit-transform: translateZ(0);
        transform: translate3d(25rem, 7.5rem, 0);
        /* just because it's stronger than nth-child */
        z-index: 1;
        border-radius: 0.3rem;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        text-transform: none;
        line-height: 2;
        padding: 1rem;
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s; }
    .gallery__unit-ef2:hover .gallery__unit-ef2--figcaption-h3 {
      box-shadow: none; }
    .gallery__unit-ef2:hover .gallery__unit-ef2--figcaption-p {
      -webkit-transform: translateZ(0);
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      opacity: 1; }
    .gallery__unit-ef2:hover .gallery__unit-ef2--image {
      filter: drop-shadow(0 0.3rem 2rem rgba(0, 0, 0, 0.9));
      transform: perspective(1000px) translate3d(0, 0, 21px); }

#testimonialsIMG-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: testimonialsIMG-start / testimonialsIMG-end;
  background-image: var(--background-img-testimonials); }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    #testimonialsIMG-bg {
      --background-img-testimonials: url(../img/img-phone-2x/testimonials.jpg); } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    #testimonialsIMG-bg {
      --background-img-testimonials: url(../img/img-phone-2x/testimonials.jpg); } }

#testimonialsVeil {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: testimonialsIMG-start / testimonialsIMG-end; }

#testimonialsTXT-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: testimonialsTXT-start / testimonialsTXT-end; }

.testimonials {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: testimonialsTXT-start / testimonialsTXT-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/testimonial-txt-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .testimonials__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-row-gap: 7rem;
    grid-column-gap: 3rem;
    padding: 0 3rem;
    color: white; }
    .testimonials__grid blockquote {
      position: relative;
      width: 100%;
      height: 100%; }
    .testimonials__grid blockquote::before {
      content: "\201C";
      font-size: 18rem;
      display: block;
      position: absolute;
      top: -10rem;
      left: -5rem;
      margin: 0;
      padding: 0; }

blockquote cite {
  margin-top: 2.5rem;
  display: block; }

cite img {
  height: 7.5rem;
  border-radius: 50%;
  vertical-align: middle;
  padding-right: 1rem; }

#findUsIMG-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: findUsIMG-start / findUsIMG-end;
  background-image: var(--background-img-findUs); }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    #findUsIMG-bg {
      --background-img-findUs: url(../img/img-phone-2x/find-us.jpg); } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    #findUsIMG-bg {
      --background-img-findUs: url(../img/img-phone-2x/find-us.jpg); } }

#findUsVeil {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: findUsIMG-start / findUsIMG-end; }

#findUsTXT-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: findUsTXT-start / findUsTXT-end; }

.findUs {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: findUsTXT-start / findUsTXT-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  position: relative;
  overflow: hidden; }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .findUs {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  .findUs:hover .findUs__link::before {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1); }
  .findUs:hover .findUs__IMG {
    filter: blur(3px) brightness(0.7); }
  .findUs:hover .findUs__link {
    opacity: 1; }
  .findUs__IMG-Container {
    width: 100%;
    height: 40rem;
    position: relative;
    backface-visibility: hidden;
    transition: all 0.5s; }
  .findUs__IMG {
    background-image: url(../img/restaurant-front-hover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    transition: all 0.5s; }
    @media only screen and (min-width: 1em) and (max-width: 21.875em) {
      .findUs__IMG {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); } }
    @media only screen and (min-width: 21.9em) and (max-width: 25em) {
      .findUs__IMG {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); } }
  .findUs__link {
    font-family: var(--font-family-main-a);
    text-decoration: none;
    color: black;
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.75rem;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 38%;
    -webkit-transform: translateZ(0);
    transform: translate3d(-38%, -50%, 0);
    opacity: 0;
    transition: opacity 0.8s ease-in; }
    @media only screen and (min-width: 1em) and (max-width: 21.875em) {
      .findUs__link {
        left: 50%;
        transform: translate3d(-50%, -50%, 0); } }
    @media only screen and (min-width: 21.9em) and (max-width: 25em) {
      .findUs__link {
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 2.5rem; } }
    .findUs__link::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      border: 2px solid #fff;
      content: '';
      opacity: 0;
      transition: all 0.5s;
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1); }
      @media only screen and (min-width: 1em) and (max-width: 21.875em) {
        .findUs__link::before {
          width: 135px;
          height: 135px; } }
      @media only screen and (min-width: 21.9em) and (max-width: 25em) {
        .findUs__link::before {
          width: 175px;
          height: 175px; } }
  .findUs__txtBox {
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100%-2rem);
    height: max-content; }

#contactUsIMG-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: contactUsIMG-start / contactUsIMG-end;
  background-image: var(--background-img-contactUs); }

#contactUsVeil {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: contactUsIMG-start / contactUsIMG-end; }

#contactUsTXT-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: contactUsTXT-start / contactUsTXT-end; }

#form-email {
  grid-column: col1-start / col2-end;
  grid-row: email-start / email-end; }

#message-txt {
  grid-column: col1-start / col2-end;
  grid-row: messageTXT-start / messageTXT-end; }

#message-box {
  grid-column: col1-start / col2-end;
  grid-row: messageBox-start / messageBox-end; }

#submit-button {
  grid-column: col1-start / col2-end;
  grid-row: button-start / button-end; }

.contactUs {
  grid-column: content-start / content-end;
  grid-row: contactUsTXT-start / contactUsTXT-end; }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .contactUs {
      grid-column: marginLeft-start / marginRight-end; } }

@media only screen and (min-width: 21.9em) and (max-width: 25em) {
  .form {
    padding-left: 1rem;
    padding-right: 1rem; } }

.form__name {
  grid-column: col1-start / col2-end;
  grid-row: name-start / name-end; }

.form__email {
  grid-column: col1-start / col2-end;
  grid-row: email-start / email-end; }

.form__select {
  padding: 1.5rem 1rem;
  font-family: var(--font-family-main-text);
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 3px;
  background-color: white;
  border: 1px solid black;
  width: calc(100%-2rem);
  color: black; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    .form__select {
      font-size: 3rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .form__select {
      font-size: 2rem; } }

.form__button-wrapper {
  filter: drop-shadow(0 1rem 2rem rgba(0, 0, 0, 0.5));
  align-self: center;
  justify-self: center;
  width: 25%;
  transition: all 0.2s; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    .form__button-wrapper {
      width: 50%; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .form__button-wrapper {
      width: 35%; } }
  .form__button-wrapper:hover {
    transform: translate3d(0, -0.5rem, 0); }
  .form__button-wrapper:active {
    transform: translate3d(0, 0rem, 0);
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.8)); }

.form__button {
  font-family: var(--font-family-main-text);
  font-size: 2rem;
  background-image: linear-gradient(to bottom right, #67b26f, #4ca2cd);
  padding: 1.5rem 2rem;
  width: 100%;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  border: none;
  color: white; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    .form__button {
      font-size: 3rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .form__button {
      font-size: 2.5rem; } }

.form__text {
  font-family: var(--font-family-main-text);
  font-size: 2rem;
  align-self: center; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    .form__text {
      font-size: 3rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .form__text {
      font-size: 2rem; } }

.form__input {
  padding: 1.5rem 2rem;
  font-family: var(--font-family-main-text);
  font-size: 1.5rem;
  border-radius: 2px;
  background-image: linear-gradient(to bottom right, #67b26f, #4ca2cd);
  border: none;
  border-bottom: 3px solid transparent;
  width: calc(100vw-4rem);
  color: black; }
  @media only screen and (min-width: 1em) and (max-width: 21.875em) {
    .form__input {
      font-size: 3rem; } }
  @media only screen and (min-width: 21.9em) and (max-width: 25em) {
    .form__input {
      font-size: 2rem; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid var(--menu-border-valid);
    color: white; }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--menu-border-invalid); }

.form__label {
  font-family: var(--font-family-main-text);
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-top: 1.5rem;
  display: block;
  transform: translateY(4rem);
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-0.1rem); }

.form__input::placeholder {
  color: black; }

#footer-bg {
  grid-column: marginLeft-start / marginRight-end;
  grid-row: footer-start / footer-end;
  background-color: var(--color-background-footer); }

#map {
  min-height: 40rem;
  width: 100%;
  height: 100%; }

.footer {
  padding: 5rem 0;
  grid-column: content-start / content-end;
  grid-row: footer-start / footer-end;
  color: white; }
  .footer__textBox {
    align-self: center; }
  .footer__socialMedia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-row-gap: 2rem;
    padding-top: 5rem; }
    .footer__socialMedia--icon {
      width: 3.5rem;
      height: 3.5rem;
      fill: var(--icon-color-default);
      transition: all 0.2s; }
    .footer__socialMedia--icon:hover {
      fill: var(--icon-color-hover);
      cursor: pointer; }
